.aside {
  min-width: 480px;
  background-image: url('../assets/dog.png');
  background-repeat: no-repeat;
  position: relative;
  &__nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 110px;
    right: 35px;
  }
  &__link {
    color: #f9f9f9;
    background-color: $gray-300;
    width: 41px;
    height: 41px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    &.active {
      position: relative;
      background-color: $purple;
      outline: 2px solid $purple;
      outline-offset: 4px;
      pointer-events: all;
    }
  }
  &__line {
    height: 44px;
    width: 3px;
    background-color: $gray-300;
    align-self: center;
    &.active {
      height: 40px;
      background-color: $purple;
    }
    &--top {
      &.active {
        margin-bottom: 4px;
      }
    }
    &--bottom {
      &.active {
        margin-top: 4px;
      }
    }
  }
}
