.header {
  width: 100%;
  &__steps {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  &__step {
    display: inline-block;
    border-bottom: 3px solid $purple;
    margin-right: 75px;
    white-space: nowrap;
  }
  &__progress-bar {
    width: 507px;
    align-self: end;
  }
}
