.step4 {
  &.form-container {
    padding: 117px 280px 90px 162px;
  }
  .header {
    margin-bottom: 54px;
  }
  .checkboxes-wrapper {
    margin-top: 4px;
    margin-bottom: 58px;
  }
  .custom-label {
    margin-bottom: 12px;
  }
  &__select {
    margin-bottom: 27px;
  }
  &__select:nth-of-type(2) {
    margin-bottom: 40px;
  }
  textarea {
    margin-top: 30px;
    height: 170px;
  }
  .horizontal-line {
    margin: 51px 0 38px;
  }
}
