.step3 {
  &.form-container {
    padding: 117px 322px 130px 163px;
  }
  .header {
    margin-bottom: 34px;
  }
  &__radio-container {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-bottom: 43px;
  }
  &__select {
    margin-bottom: 31px;
    p {
      color: $gray-500;
      margin-bottom: 14px;
    }
  }
  textarea {
    height: 141px;
    margin-bottom: 56px;
  }
  .horizontal-line {
    margin-bottom: 38px;
  }
  .custom-label {
    margin-bottom: 14px;
    h5 {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
    }
  }
}
