body {
  font-family: 'Jost', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 44.454px;
  line-height: 50px;
  letter-spacing: -0.02em;
  color: $gray-900;
  margin-bottom: 25px;
}

h2 {
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  color: $gray-900;
}

h3 {
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: $gray-700;
  margin-bottom: 48px;
}

h4 {
  font-weight: 800;
  font-size: 23px;
  line-height: 33px;
  color: $black;
}

h5 {
  font-weight: 700;
  font-size: 23px;
  line-height: 33px;
  color: $gray-500;
  margin: 0;
}

a {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-decoration: none;
}

input {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: $gray-400;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
